.sidebar {
  width: 16rem;
  background-color: var(--card-bg);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease-in-out;
}

.sidebar.collapsed {
  width: 4rem;
  align-items: center;
}

.sidebar .hamburger {
  background: none;
  border: 1px solid transparent;
  width:fit-content;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--text-color);
}

.sidebar-items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sidebar button {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: var(--button-bg);
  color: var(--button-text);
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  white-space: nowrap;
}

.sidebar button:hover {
  border: 1px solid var(--accent-color);
}


.sidebar.collapsed button {
  justify-content: center;
}

.sidebar .icon {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

.sidebar.collapsed .label {
  display: none;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.title div {
  font-size: 1.5rem;
}


.toggle {
  width: 100%;
  margin: 5px auto;
  font-size: 1.5rem;
  display: flex;
  
}

.toggle .label{
  font-size: 1rem;
  margin: 0 10px;
}

